doctype html
html(lang='en')
    head
    title SEPA

    // Navabar
    include ../graphic/navbar.pug

    // Body
    body
        .container
            .page-header
                h1 Jade - node template engine
                h2 Form:

                form(name="transaction-request", method="post")
                    div.input
                        span.label To IBAN
                        input(type="text", name="to_IBAN", value=toIBAN)
                    div.input
                        span.label Amount
                        input(type="text", name="amount")
                    div.input
                        span.label Description
                        input(type="text", name="description")

                    div.actions
                        input(type="submit", value="Submit")

        .container
            h2 Info:

            p #{message}
            p #{error}
            p POSTed URL: #{postUrl}
            p Body: #{details}
            p Response from API: #{data}

    // Footer
    include ../graphic/footer.pug